* {
	box-sizing: border-box;
}

.App {
	text-align: center;
}

.default {
	margin: 50px;
}

img {
	width: 150px;
}

.meteoAttualeCardContainer {
	margin: 0px 0 50px;
	padding: 10px;
}

.meteoAttualeCardContainer h4 {
	margin-top: 0;
}

.meteoAttualeCardContainer h2 {
	margin-bottom: 5px;
	margin-top: 0;
}

.inputContainer {
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	width: max-content;
	background-color: rgba(95, 158, 160, 0.347);
	border-radius: 5px;
}

.cittaInput {
	background-color: transparent;
	border: none;
	padding: 8px 20px;
}

.cittaInput:focus {
	outline: none;
}

.inputBtn {
	background-color: rgba(95, 158, 160, 0.611);
	/*background-color: transparent; */
	color: white;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: larger;
}

.icon {
	font-size: larger;
}

.home {
	margin-left: 7px;
}

.time {
	margin-right: 7px;
}

.degrees {
	font-size: 3em;
	font-weight: 400;
}

.link {
	background-color: cadetblue;
	color: white;
	padding: 8px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.5s;
}

.link:hover {
	background-color: rgb(110, 187, 190);
	font-size: 1.05em;
}

.paginaNuovaContainer {
	text-align: center;
}

.paginaNuovaHeader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.goHome {
	position: absolute;
	top: 15px;
	left: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	font-weight: 600;
}

.singleCardsContainer {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
