* {
	box-sizing: border-box;
	margin: 0;
}

*::first-letter{
	text-transform: capitalize;
}

.App {
	height: 100vh;
	text-align: center;
	background-position: center;
	background-size: cover;
	background-image: url("./assets/Snow-sunset.png");
	transition: all 1s;
	color: white;
}

h1 {
	padding-top: 30px;
}

.shadow {
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.75)
	);

	height: 100%;
	transition: all 1s;
}

.city {
	background-image: url("./assets/City-sunset.png");
}

.default {
	margin: 50px;
}

img {
	width: 150px;
}

.meteoAttualeCardContainer {
	margin: 0px 0 50px;
	padding: 10px;
}

.meteoAttualeCardContainer h4 {
	margin-top: 0;
}

.meteoAttualeCardContainer h2 {
	margin-bottom: 5px;
	margin-top: 0;
}

.inputContainer {
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	width: 60%;
	background-color: rgba(212, 212, 212, 0.347);
	border-radius: 5px;
}

.cittaInput {
	background-color: transparent;
	border: none;
	padding: 8px 20px;
	color: black;
	width: 90%;
}

.inputContainer:hover {
	background-color: rgba(231, 231, 231, 0.347);
}

.cittaInput:focus {
	outline: none;
}

.inputBtn {
	background-color: rgba(212, 212, 212, 0.507);
	/*background-color: transparent; */
	color: white;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: larger;
}

.icon {
	font-size: larger;
}

.home {
	margin-left: 7px;
}

.time {
	margin-right: 7px;
}

.degrees {
	font-size: 3em;
	font-weight: 400;
}

.link {
	background-color: rgba(121, 121, 121, 0.507);
	color: white;
	padding: 8px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.5s;
}

.link:hover {
	background-color: rgba(64, 164, 204, 0.507);
	font-size: 1.05em;
}

.paginaNuovaContainer, .loading{
	text-align: center;
	height: 100vh;
	background-color: rgba(141, 103, 164, 0.583);
	color: white;
}

.paginaNuovaHeader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dettagliOrari{
	padding-top: 3.5vh;
}

.paginaNuovaHeader h2 {
	margin-top: 20px;
}

.goHome {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	font-weight: 600;
}

.singleCardsContainer {
	user-select: none;
	margin-top: 85px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.singleCardsContainer img{
	-webkit-user-drag: none;
}

.dettagliPrevisioneContainer{
	background-image: url("./assets/Snow-sunset.png");
	background-size: cover;
	color: white;
	border-radius: 10px;
	width: 30%;
	opacity: 0.85;
	height: 41vh;
	transition: all 0.4s;
}

.dettagliPrevisioneContainer.extended{
	height: 80vh;
}

.dettagliPrevisioneContainer .dettagliOrari{
	opacity: 0;
	transition: all 1s;
}

.dettagliPrevisioneContainer.extended .dettagliOrari{
	opacity: 1;
}

.warm {
	background-image: url("./assets/desert.png");
}

.dettagliPrevisioneContainer .shadow {
	padding: 30px 1px 30px;
	border-radius: 10px;
}

.dettagliPrevisioneContainer:hover {
	opacity: 1;
}

